/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

    --hue: 42;
    --sat: 86%;
    --lig: 54%;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-medio: hsl(var(--hue), var(--sat), 35%);
    --first-color-down: hsl(var(--hue), var(--sat), 25%);
    /* -4% */
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: 1rem;
}

@media screen and (min-width: 968px) {
    :root {
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


body.dark-theme {
    --title-color: hsl(var(--hue), 12%, 95%);
    --text-color: hsl(var(--hue), 12%, 75%);
    --body-color: hsl(var(--hue), 40%, 8%);
    --container-color: hsl(var(--hue), 24%, 12%);
}


body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    transition: .3s;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}



.allBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.translation-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.es,
.en {
    width: 22px;
    aspect-ratio: 1/1;
    text-transform: capitalize;
}

.check {
    position: relative;
    width: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}

.check:hover {
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .7);
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid var(--first-color);
}

.check:checked:before {
    background: var(--first-color);
}

.change-theme {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: .3s;
    z-index: 9;
}

.change-theme:hover {
    color: var(--first-color);
}


.translation-theme {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 1rem;
    color: var(--title-color);
    transition: .3s;
}

.translation-theme:hover {
    color: var(--first-color);
}

.ball {
    background-color: var(--text-color-light);
    padding: 1.5rem;
    border-radius: 20px;
    max-width: 350px;
    animation: floatAnimation 8s infinite ease-in-out;
}

.insideBall {
    background-color: var(--body-color);
    border-radius: 15px;
    padding: 1.5rem;
}

.insideBall span {
    text-align: justify;
}

.backHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 25px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--text-color-light);
}

.backHome:hover {
    transform: scale(1.3);
    transition: .3s ease-out;
}

.backHome i {
    color: var(--body-color);
    font-size: 30px;
}

.backHomeModal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 25px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--text-color-light);
}

.backHomeModal:hover {
    transform: scale(1.3);
    transition: .3s ease-out;
}

.backHomeModal i {
    color: var(--body-color);
    font-size: 30px;
}


.buttonLogin {
    border: none;
    margin-top: 10px;
}

.formSection {
    position: relative;
    background-color: var(--text-color-light);
    padding: 1.5rem;
    border-radius: 20px;
    margin: 17px 0 0 0;
    width: 350px;
    animation: floatAnimation 10s infinite ease-in-out;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--body-color);
    border-radius: 20px;
}


@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0);
        /* Posición inicial y final: no se mueve en el eje Y */
    }

    50% {
        transform: translateY(-15px);
        /* Posición intermedia: se mueve hacia arriba */
    }
}



.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid var(--text-color-light);
}

.inputbox label {
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}


.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: var(--text-color);
}

.footerLogin {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerLogin__copy {
    display: block;
    margin: 2.5rem 0 2rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.hidden {
    display: none !important;
}

.modalTentative {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    top: 0;
    background-color: var(--body-color);
    display: grid;
    align-items: center;
    padding: 1.5rem 1.25rem;
    transition: .3s;
    z-index: 8;
}


.calendario {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 770px;
    margin: 0 auto;
}

.calendario div {
    border: 5px solid var(--text-color-light);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--text-color-light);
    color: white;
    transition: .1s ease-in-out;
}

.calendario div:hover {
    background-color: var(--body-color) !important;
    color: var(--text-color);
}

.dia-vacio {
    opacity: 0;
}

.clienteTitle {
    text-align: center;
}

.diaActual {
    background-color: var(--first-color-down) !important;
}

.diaMedio {
        animation: medioAnimation 6s infinite ease-in-out;
}

@keyframes  medioAnimation{
    0% {
        background-color: var(--container-color);
    }
    25% {
        background-color: var(--first-color-medio);
    }
    50% {
        background-color: var(--container-color);
    }
    75% {
        background-color: var(--first-color-medio);
    }
    100% {
        background-color: var(--container-color);
    }
}

.diaTentativa {
    animation: tentativeAnimation 3s infinite ease-in-out;
}

@keyframes tentativeAnimation {
    0% {
        background-color: var(--first-color);
        transform: scale3d(1, 1, 1)
    }

    30% {
        background-color: var(--container-color);
        transform: scale3d(1, .95, 1)
    }

    40% {
        background-color: var(--first-color);
        transform: scale3d(.95, 1, 1)
    }

    50% {
        background-color: var(--container-color);
        transform: scale3d(1.05, .95, 1)
    }

    65% {
        background-color: var(--first-color);
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        background-color: var(--container-color);
        transform: scale3d(1.05, .95, 1);
        box-shadow: 0 0 20px 0 var(--first-color);
    }

    100% {
        background-color: var(--first-color);
        transform: scale3d(1, 1, 1);
        box-shadow: none;
    }
}






/* ============================ dark theme ============================ */

.dark-theme .ballHome,
.dark-theme .backHome,
.dark-theme .backHomeModal,
.dark-theme .ball,
.dark-theme .formSection {
    background-color: var(--container-color);
}

.dark-theme .backHomeModal i,
.dark-theme .backHome i {
    color: #fff;
}
.dark-theme .calendario div {
    border: 5px solid var(--container-color);
    background-color: var(--container-color);
}

.dark-theme .calendario div:hover {
    background-color: var(--body-color) !important;
}




@media screen and ( max-width: 970px ) {
    .calendario {
        grid-template-columns: repeat(4, 1fr);
        width: 500px;
    }

    .calendario div {
        padding: 1px;
    }
}



.calendario {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 770px;
    margin: 0 auto;
}

.calendario div {
    border: 5px solid var(--text-color-light);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--text-color-light);
    color: white;
    transition: .1s ease-in-out;
}
